includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - src
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Method CODEIQBV\\Kolmisoft\\Api\\BaseApi::generateHash\(\) invoked with 1 parameter, 2 required#'
        - '#Call to static method error\(\) on an unknown class Log#'
        - '#Call to static method debug\(\) on an unknown class Log#'
        - '#Call to an undefined method CODEIQBV\\Kolmisoft\\Api\\Email::handleError\(\)#'
        - '#Call to an undefined method CODEIQBV\\Kolmisoft\\Api\\FinancialStatement::handleError\(\)#'
        - '#Cannot redeclare method CODEIQBV\\Kolmisoft\\Api\\Invoice::handleError\(\)#'
        - '#Method CODEIQBV\\Kolmisoft\\Api\\Aggregate::generateHash\(\) invoked with 1 parameter, 2 required#'
